*{
    color: #fff;
}

.delete {
    border: none;
    background-color: rgba(148, 43, 205, 0.941);
    color: white;
  }
  .delete:hover {
    background-color: rgba(54, 7, 79, 0.941);
    color: white;
  }

  .row{
    text-align: center;
    margin: 1rem;
  }

  .row .header{
    font-weight: 600;
  }

  body{
    background: url(../background.jpg) center;
    background-size: cover;
  }

  input, select{
    color: black;
  }

  button{
    color: #d4c3c3;
  }

  button:hover{
    color: #fff;
  }